.banner-btn{
    background: ;
    border: none;
    padding: 10px 30px;
    border-radius:50px;
    margin-top: 10px;
    transition: all 0.2s ease-in-out;
}
.banner-btn:hover{
    background: rgb(114, 211, 250);
}
@media only screen and (min-width: 1025px) {
    .carousel-text{
        margin-bottom: 250px;
    }
  }

  @media only screen and (min-width: 481px) and (max-width:1024px){
    .carousal-custom{
        margin-top: 76px;
        
    }
}